*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header{
    height: 110px;
    background-color:#EDEDED;
    width: 100%;
        
}
.logo{
    
  width: 100px;  
  height: 100px;
  padding: 5px;    
}
.profilecontainer
{
    
    justify-content:space-around;
   
    
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;

} 
.profile{

    display: flex;
    align-items:center;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: wrap;
     
} 
.name{

    display: flex; 
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-right:5px ;    
}
.profileName{
    align-self: flex-end;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    justify-content: space-between;
    padding-right: 5px;
    color:black;    
}
.AgentCode{
    color:#838383;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self:start;
    padding-right: 20px;
    font-size: 13px;    
}
.Designation{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;
    justify-content:space-around;    
}
.balance{
    
    align-items:end;    
}
.MainBalance{
   
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    align-self: flex-start;
    justify-content: space-between;
    padding-left: 25px;
    color:#838383;
    font-weight: lighter;    
}
.Amount{
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: flex-start;
    font-size: 15px;
    justify-content: space-between;
    padding-left: 30px;
    font-weight: bold;    
}
.LastLogin{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: rgb(55, 55, 194);
    font-size: 10px;
    text-align:center;
    align-self: flex-end;
    padding-top: 15px;    
}
.navbar{
    
    width: 100%;
    height: 70px;
    display: flex;
    background-color:rgb(3, 3, 53);
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
}
.navbar a{
    justify-content:space-between;
    font-size: 14px;
    font-weight:lighter;
    color: white;    
} 
.navcontainer{
    padding-top: 15px;
     display: flex;
    flex-direction: row;
}
i{
    text-align: center;
    padding: 20px;
    font-size: 18px;
    padding-top: 1px;
    flex-direction: row;
    flex-wrap: wrap;
}
.menu-items{
    padding-top: 10px;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}
.menu{
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding-right: 40px;
}
.menubar{
    
   margin-left: 200px;
    justify-content: space-around;
    
}
.display{
    justify-content: space-around;
    
    text-align:flex-start;
    
}

.image{
    
  padding-bottom: 20px;  
    
}
.image img{
    border-radius: 50px;
    width: 46px;
    height: 46px;    
}
@media only screen and (max-width:600px){
    
    header{
        display:block;
    }
    
    .profilecontainer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color:#EDEDED; 

    }
    .profile{
        display:block;
        flex-direction:column;
        flex-wrap: wrap;
        padding: 0px;
        font-size: 7px;
        align-items: center;
        width: 100%;

        
    }
    .name{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .AgentCode{
        align-self: center;
    }
    .profileName{
        align-self: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .Designation{
        align-self: center;
    }
    .balance{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .MainBalance{
        align-self:center;
        padding-right: 10%;
    }
    .Amount{
        align-self: center;
        padding-right: 10%;
    }
    .LastLogin{
        align-self:center;
        padding-left: 10%;
    }
    .image {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .menu{
        flex-wrap:wrap-reverse;
        flex-direction: column;
    }
    .navbar{
        margin-top: 205px;
        align-items: center;
        padding-bottom: 100%;
    }
    .navcontainer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        align-items: center;
        padding: 0;
        font-size: 5px;
    }
    .display{
        display: none;
    }
    .menubar:hover{
        
    }
    .menubar{
        margin-left:-15%;
        padding: 10px;
        
    }
    .logo{
        align-self: center;
    }    
}

